$teal-red: #dd3d3d;
$light-gray: #ababab;
$natural-gray: #eeeeee;
$primary: #18549f;
$secondary: #f76763;

$colors: (
        base:(
                primary: $primary,
                secondary: $secondary
        ),

        primary-shades: (
                light : #d5dfed,
                lighter : #f2f8ff
        ),

        black-shades: (
                black : #333333,
                darkest-gray : #777777,
                dark-gray: #bbbbbb,
                gray: #dddddd,
                light-gray: #e3e4e6,
                light : #f0f1ee,
                white: #ffffff
        ),

        accent:(
                success: #22c89b,
                warning: #fed36c,
                warning60: #f5e995,
                error: #eb5353,
                error60: #f39898
        ),

  //content gray variant
        content: (
                light: $light-gray,
                base: #56616a,
                inked: #788692,
                dark: #464c65
        ),

        theme: (
                cool: #f7fbff,
                white: #ffffff
        ),

        primary: $primary,
        secondary: $secondary,

        nutural: $natural-gray,
        border: (
                light: $natural-gray,
                dark: #3e3e3e
        )
);
