// Typography palette
// ---------------------------------------------------
$typography: (
        heading: (
                h1: 38px,
                h2: 30px,
                h3: 24px,
                h4: 20px,
                h5: 18px,
                h6: 16px
        ),

        heading-info: (
                l1: 20px,
                l2: 14px
        ),

        p: 14px,
        p-small: 12px,

        label: (
                normal: 12px,
                floating: 11px
        ),

        line-height: (
                h1: 65px,
                h2: 50px,
                h3: 35px,
                h4: 28px,
                h5: 26px,
                p: 26px,
                p-small: 18px
        )
);

