$content-body-height: 85vh;

@mixin content-body--scroll {
  overflow: auto;
  height: $content-body-height;
}

* {
  box-sizing: border-box;
}

:focus{
  outline: 0;
}

body {
  overflow: hidden;
  background: get-color(black-shades, white);
  font-family: 'Nunito', sans-serif;
  font-size: get-font-size(p);
  line-height: 1.45;
}

.wrapper {
  margin: 0 auto;
  padding: {
    right: $item-gap;
    left: $item-gap;
  };
  @include set-breakpoint(medium) {
    padding: {
      right: $item-gap * 2;
      left: $item-gap * 2;
    };
  }
  @include set-breakpoint(large) {
    padding: 0;
  }


  @include set-breakpoint(medium){
    @include flex-box-container();
  }


}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: get-color(black-shades, light-gray);
}

::-webkit-scrollbar-thumb {
  background: get-color(black-shades, black);
}

*{
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
    user-select: none;
  }
}