h1, h2, h3, h4, h5 {
  color: get-color(primary);
  font-weight: 400;
  margin-bottom: 1rem;
  mark {
    background: transparent;
    display: block;
    font-style: normal;
    font-weight: 400;
    color: get-color(content, dark);
  }
}


// "h" tag specific styles
// ---------------------------------------------------------
h1 {
  font-size: get-font-size(heading, h1);
  line-height: get-font-size(line-height, h1);
  mark {
    margin-top: -10px;
  }
}

h2 {
  font-size: get-font-size(heading, h2);
  line-height: get-font-size(line-height, h2);
  mark {
    margin-top: -5px;
  }
}

h3 {
  font-size: get-font-size(heading, h3);
  line-height: get-font-size(line-height, h3);
}

h4 {
  font-size: get-font-size(heading, h4);
  line-height: get-font-size(line-height, h4);
}
h5 {
  font-size: get-font-size(heading, h5);
  line-height: get-font-size(line-height, h5);
}

h1, h2, h3 {font-weight: 300;}

.heading-group {
  h1, h2, h3, h4 {
    margin-bottom: 0;
  }
}

// Heading info tags. this can use as descriptive version of the header itself
// ---------------------------------------------------------
%heading-info--color {
  color: get-color(black-shades, light);
}

.heading-info {
  &__l1 {
    font-size: get-font-size(heading-info, l1);
    @extend %heading-info--color
  }
  &__l2 {
    font-size: get-font-size(heading-info, l2);
    @extend %heading-info--color
  }
}

// "p" tag specific styles
// ---------------------------------------------------------
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
