$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// Retrive font size from $typography map ie. `get-font-size(heading, h1)`
@function get-font-size($typo-name, $typo-variant:null) {
  // color variant is optional
  @if ($typo-variant != null) {
    // map inception
    @return map-get(map-get($typography, $typo-name), $typo-variant);
  } @else {
    @return map-get($typography, $typo-name);
  }
}
