$responsive-approch: mf !default; //(mf = mobile first, df= desktop first) // mobile first

$breakpoints: (
        'x-small'    : null,
        'small'      : 480px,   //Mobile
        'medium'     : 768px,   //Tablet
        'x-medium'   : 900px,
        'large'      : 1024px,  //Laptop
        'x-large'    : 1280px   //Desktop
);

$breakpoints-typography: (
        'x-small'    :  300px,
        'small'      :  700px,
        'medium'     :  1024px,
        'large'      :  1200px
);


// Since we ar using sass map to set breakpoint values it'll be bit default to apply direct breakpoint mixing.
// this mixing will take care of that part.

@function get-breakpoint($size) {
  $breakpoint: map_get($breakpoints, #{$size});
  @return $breakpoint
}

@mixin set-breakpoint($break, $approch: $responsive-approch) {
  $breakpoint: get-breakpoint($break);
  @if $approch == mf {
    @include breakpoint($breakpoint) {
      @content
    }
  } @else {
    @include breakpoint(max-width $breakpoint) {
      @content
    }
  }
}

