@mixin css-checkmark($color:#fff,$size:2px,$height:9px,$width:4px){
  content: "";
  display: block;
  border: solid $color;
  border-width: 0 $size $size 0;
  height: $height;
  width: $width;
  position: absolute;
  left: $width;
  top: 0;
  transform: rotate(45deg);
}

@mixin css-circle($size,$color,$border:null){
  height: $size;
  width: $size;
  border-radius: 50%;
  display: block;
  background: $color;
  border: $border;
}