

//Only works for IE

@mixin ie-only {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

//Set of mixins for css grid layout. Works with all modern browsers and IE 10+

@mixin grid-support(){
  @supports (grid-area: auto) {
    @content;
  }
}

@mixin grid-container($args...){
  display: -ms-grid;
  display: grid;

  @if(length($args)==1){
    grid-gap: nth($args,1);
  } @else if(length($args)==2){
    grid-gap: nth($args,1);
    justify-items: nth($args,2); // start|end|center|stretch
  }@else if(length($args)==3){
    grid-gap: nth($args,1);
    justify-items: nth($args,2); // start|end|center|stretch
    align-items: nth($args,3); // start|end|center|stretch
  }
  @else if(length($args)==4){
    grid-gap: nth($args,1);
    justify-items: nth($args,2); // start|end|center|stretch
    align-items: nth($args,3); // start|end|center|stretch
    justify-content: nth($args,4); // start|end|center|stretch|space-around|space-between|space-evenly
  }@else if(length($args)==5){
    grid-gap: nth($args,1);
    justify-items: nth($args,2); // start|end|center|stretch
    align-items: nth($args,3); // start|end|center|stretch
    justify-content: nth($args,4); // start|end|center|stretch|space-around|space-between|space-evenly
    align-content: nth($args,5); // start|end|center|stretch|space-around|space-between|space-evenly
  }
}


@mixin grid-template-rows($rows){
  -ms-grid-rows: $rows;
  grid-template-rows: $rows;
}

@mixin grid-template-columns($columns){
  -ms-grid-columns: $columns;
  grid-template-columns: $columns;
}

@mixin grid-row($args...){
  @if(length($args)==1){
    -ms-grid-row: nth($args,1);
    grid-row: nth($args,1);
  } @else if(length($args)==2){
    -ms-grid-row: nth($args,1);
    -ms-grid-row-span: nth($args,2) - nth($args,1);
    grid-row: #{nth($args,1)}/#{nth($args,2)};
  }
}

@mixin grid-column($args...){
  @if(length($args)==1){
    -ms-grid-column: nth($args,1);
    grid-column: nth($args,1);
  } @else if(length($args)==2){
    -ms-grid-column: nth($args,1);
    -ms-grid-column-span: nth($args,2) - nth($args,1);
    grid-column: #{nth($args,1)}/#{nth($args,2)};
  }
}

@mixin grid-row-align($align){ // start|end|center|stretch
  -ms-grid-row-align: $align;
  justify-self: $align;
}


@mixin grid-column-align($align){ // start|end|center|stretch
  -ms-grid-column-align: $align;
  align-self: $align;
}



